main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0.6222222222775309em;
    grid-template-areas: 
    "article1 aside1"
    "article2 aside2";
}

aside:nth-of-type(1){
    grid-area: aside1; 
}

aside:nth-of-type(2){
    grid-area: aside2;
}

article:nth-of-type(1){
    grid-area: article1;
    border-radius: 2.800000000248889em;
    margin-left: 1.8666666668325929em;
}

article:nth-of-type(2){
    grid-area: article2;
    border-radius: 2.800000000248889em;
    margin-left: 1.8666666668325929em;
}




